<a href="https://colab.research.google.com/github/tajrink/cisc-4900/blob/main/CISC4900_MASTER.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Header

In [ ]:
import pandas as pd
from datetime import date

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/tajrink/cisc-4900/main/roster_anon_cohorts.csv')

In [ ]:
pd.set_option('display.max_rows', 40)

# Finding Aberrations In Data

In [ ]:
#### checking for records without a value in the 'eid' column
####   - These would be errors rather than many-enrollemnts eid
nullCount = len( df[df[['eid']].isnull().all(1)==True] )
print(
  'records without eid'
  '\n\t{}\n'.format(nullCount)
)



#### searching for eid that appear more than once in a single semester

## search flags used to focus on a single semester
semester_f = df['semester'] == 'Spring 2021'
searchFlags = (semester_f)

## number of records in [Spring 2021]
recordCount = len( df.loc[searchFlags] )
## number of unique eid in [Spring 2021]
eidCount = df.loc[searchFlags]['eid'].nunique()

## printing the counts
print(
  'number of records in [Spring 2021]'
  '\n\t{}\n'
  'number of unique eid in [Spring 2021]:'
  '\n\t{}\n'.format(recordCount, eidCount)
)

##
ser = df.loc[searchFlags]['eid'].value_counts()
print( ser[ser > 1] )

records without eid
	0

number of records in [Spring 2021]
	760
number of unique eid in [Spring 2021]:
	750

E10181    2
E11603    2
E13136    2
E11037    2
E13079    2
E12841    2
E11530    2
E11207    2
E13565    2
E11726    2
Name: eid, dtype: int64

In [ ]:
#### searching for eid that appear more than once in a single semester

## search flags used to focus on a single semester
semester_f = df['semester'] == 'Fall 2021'
searchFlags = (semester_f)

## number of records in [Fall 2021]
recordCount = len( df.loc[searchFlags] )
## number of unique eid in [Fall 2021]
eidCount = df.loc[searchFlags]['eid'].nunique()

## printing the counts
print(
  'number of records in [Fall 2021]'
  '\n\t{}\n'
  'number of unique eid in [Fall 2021]:'
  '\n\t{}\n'.format(recordCount, eidCount)
)

##
ser = df.loc[searchFlags]['eid'].value_counts()
print( ser[ser > 1] )

number of records in [Fall 2021]
	711
number of unique eid in [Fall 2021]:
	709

E13033    2
E12472    2
Name: eid, dtype: int64

In [ ]:
#### searching for eid that appear more than once in a single semester

## search flags used to focus on a single semester
semester_f = df['semester'] == 'Spring 2022'
searchFlags = (semester_f)

## number of records in [Spring 2022]
recordCount = len( df.loc[searchFlags] )
## number of unique eid in [Spring 2022]
eidCount = df.loc[searchFlags]['eid'].nunique()

## printing the counts
print(
  'number of records in [Spring 2022]'
  '\n\t{}\n'
  'number of unique eid in [Spring 2022]:'
  '\n\t{}\n'.format(recordCount, eidCount)
)

##
ser = df.loc[searchFlags]['eid'].value_counts()
print( ser[ser > 1] )

number of records in [Spring 2022]
	712
number of unique eid in [Spring 2022]:
	699

E13515    3
E12622    2
E12999    2
E12876    2
E12624    2
E10480    2
E12849    2
E13450    2
E12169    2
E10921    2
E13416    2
E13553    2
Name: eid, dtype: int64

In [ ]:
#### searching for eid that appear more than once in a single semester

## search flags used to focus on a single semester
semester_f = df['semester'] == 'Fall 2022'
searchFlags = (semester_f)

## number of records in [Fall 2022]
recordCount = len( df.loc[searchFlags] )
## number of unique eid in [Fall 2022]
eidCount = df.loc[searchFlags]['eid'].nunique()

## printing the counts
print(
  'number of records in [Fall 2022]'
  '\n\t{}\n'
  'number of unique eid in [Fall 2022]:'
  '\n\t{}\n'.format(recordCount, eidCount)
)

##
ser = df.loc[searchFlags]['eid'].value_counts()
print( ser[ser > 1] )

number of records in [Fall 2022]
	708
number of unique eid in [Fall 2022]:
	708

Series([], Name: eid, dtype: int64)

# Modifications

In [ ]:
#### Various modifications to the dataframe

# Convert strings representing dates into proper date objects
df['registration_date'] = pd.to_datetime(df['registration_date'])

# Remove graduate enrollments
df = df.loc[(df['division'] != 'G') & (df['semester'] != 'Summer 2021') & (df['semester'] != 'Summer 2022')]

In [ ]:
df

,cohort,semester,class,course,registration_date,division,level,admission,Major,passfaildrop,grade,gender,eid,section,Instructor,Instructor type
0,NaN,Spring 2021,CS3,3130,2020-12-01,U,Lower Senior,0,COMPSC-BS,Drop,W,M,E10024,S106,T010,PT
1,A,Spring 2021,CS1,1115,2021-01-14,U,Upper Senior,Continuing,COMPSC-BS,Fail,F,M,E10069,S118,T008,PT
2,NaN,Spring 2021,CS2,3115,2020-11-20,U,Upper Senior,Continuing,INFOSCI-BS,Pass,C+,F,E10088,S103,T012,PT
3,A,Spring 2021,CS1,1115,2020-12-15,U,Upper Junior,Continuing,COMPSC-BS,Pass,B,F,E10194,S115,T117,TT
4,A,Spring 2021,CS1,1115,2021-01-07,U,Upper Senior,Readmitted,COMPSC-BS,Drop,W,F,E10406,S128,T014,PT
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3095,H,Fall 2022,CS2,3115,2022-04-10,U,Lower Junior,Continuing,COMPSC-BS,Pass,B+,M,E13818,S116,T101,TT
3096,G,Fall 2022,CS1,1115,2022-05-10,U,Lower Junior,Continuing,COMPSC-BS,Pass,A,M,E13674,S129,T111,TT
3097,G,Fall 2022,CS1,1115,2022-04-24,U,Upper Sophomore,Continuing,Other,Pass,A-,M,E13817,S118,T012,PT
3098,H,Fall 2022,CS2,3115,2022-06-10,U,Lower Sophomore,Continuing,UNDECL-BA,Drop,W,F,E13605,S106,T102,TT
3099,H,Fall 2022,CS2,3115,2022-04-07,U,Lower Freshman,Continuing,COMPSC-BS,Drop,WN,M,E13566,S116,T101,TT

# Util

In [ ]:
# obtain dataframe where the rows are selected that
#   have a null value in the specified column
def df_isnull_col(df, col):
  return df[df[[col]].isnull().all(1)==True]

In [ ]:
# obtain dataframe where the rows are selected that
#   do not have a null value in the specified column
def df_notnull_col(df, col):
  return df[df[[col]].notnull().all(1)==True]

# Statistics & Variables

In [ ]:
## Enrollments Outisde Purview (Without a Cohort)
df_isnull_col(df, 'cohort')['semester'].value_counts()

Spring 2021    329
Fall 2021      152
Name: semester, dtype: int64

In [ ]:
## Enrollemnts Within Purview (With a Cohort)
df_notnull_col(df, 'cohort')['semester'].value_counts()

Spring 2022    700
Fall 2022      694
Fall 2021      552
Spring 2021    425
Name: semester, dtype: int64

In [ ]:
# Semester Dates
sp21_first = pd.to_datetime( date(2021, 1, 29) )
sp21_oed = pd.to_datetime( date(2021, 2, 4) )
sp21_last = pd.to_datetime( date(2021, 5, 25) )

fl21_first = pd.to_datetime( date(2021, 8, 25) )
fl21_oed = pd.to_datetime( date(2021, 8, 31) )
fl21_last = pd.to_datetime( date(2021, 12, 21) )

sp22_first = pd.to_datetime( date(2022, 1, 28) )
sp22_oed = pd.to_datetime( date(2022, 2, 3) )
sp22_last = pd.to_datetime( date(2022, 5, 24) )

fl22_first = pd.to_datetime( date(2022, 8, 25) )
fl22_oed = pd.to_datetime( date(2022, 8, 31) )
fl22_last = pd.to_datetime( date(2022, 12, 21) )

In [ ]:
## Each unique value within a column alongside its number of appearances
for col in df:
  print( '{}\n\n'.format(df[col].value_counts()) )

A    425
B    399
G    391
D    390
E    169
I    156
C    153
H    147
F    141
Name: cohort, dtype: int64


Spring 2021    754
Fall 2021      704
Spring 2022    700
Fall 2022      694
Name: semester, dtype: int64


CS1    1605
CS2     643
CS3     604
Name: class, dtype: int64


1115    1509
3115     643
3130     604
1170      96
Name: course, dtype: int64


2020-11-17    109
2020-11-18     98
2020-11-19     97
2022-04-06     85
2021-11-18     76
             ...
2021-11-14      1
2022-05-08      1
2020-11-13      1
2021-04-25      1
2022-08-25      1
Name: registration_date, Length: 416, dtype: int64


U    2852
Name: division, dtype: int64


Lower Junior       469
Lower Sophomore    414
Upper Sophomore    390
Upper Freshman     373
Upper Junior       363
Upper Senior       340
Lower Senior       272
Lower Freshman     209
2nd Degree          20
0                    2
Name: level, dtype: int64


Continuing      2174
0                628
Readmitted        38
New Transfer       8
New CUNY           3
College Now        1
Name: admission, dtype: int64


COMPSC-BS               1591
UNDECL-BA                506
Other                    461
INFOSCI-BS               246
MULTI-BS                  42
COMPSC-BS|INFOSCI-BS       2
COMPSC-BS|UNDECL-BA        2
INFOSCI-BS|MULTI-BS        1
COMPSC-BS|MULTI-BS         1
Name: Major, dtype: int64


Pass     1475
Drop      901
Fail      475
Audit       1
Name: passfaildrop, dtype: int64


W      735
A      315
C      312
F      300
B      274
A-     148
B+     137
A+     102
B-      98
C+      89
D       85
WD      74
WU      72
C-      39
D+      27
WN      15
FIN     11
D-       9
WA       5
INC      4
AUD      1
Name: grade, dtype: int64


M    2092
F     751
T       5
U       2
0       2
Name: gender, dtype: int64


E10181    5
E12472    5
E12549    4
E12699    4
E13392    4
         ..
E13671    1
E13406    1
E13603    1
E13542    1
E13817    1
Name: eid, Length: 1814, dtype: int64


S126    413
S119    308
S106    258
S130    157
S116    137
S103    120
S114    119
S105    119
S113    119
S115    119
S128    118
S129    118
S102    117
S118    116
S125     88
S202     77
S120     76
S121     59
S131     59
S122     51
S107     49
S124     30
S123     16
S108      9
Name: section, dtype: int64


T010    265
T012    259
T112    258
T117    239
T006    205
T107    183
T009    171
T116    168
T101    122
T110    119
T104    115
T102    105
T013     99
T113     99
T014     98
T111     88
T001     79
T118     60
T008     57
T108     40
T105     23
Name: Instructor, dtype: int64


TT    1619
PT    1233
Name: Instructor type, dtype: int64

In [ ]:
## Search Flags

# Column: 'semester'
semester_sp21 = (df['semester'] == 'Spring 2021')
semester_fl21 = (df['semester'] == 'Fall 2021')
semester_sp22 = (df['semester'] == 'Spring 2022')
semester_fl22 = (df['semester'] == 'Fall 2022')


# Column: 'class'
class_cs1 = (df['class'] == 'CS1')
class_cs2 = (df['class'] == 'CS2')
class_cs3 = (df['class'] == 'CS3')


# Column: 'registration_date'
reg_sp21_first = (df['registration_date'] <= sp21_first)
reg_sp21_last = (df['registration_date'] <= sp21_last)
reg_sp21_oed = (df['registration_date'] <= sp21_oed)

reg_fl21_first = (df['registration_date'] <= fl21_first)
reg_fl21_last = (df['registration_date'] <= fl21_last)
reg_fl21_oed = (df['registration_date'] <= fl21_oed)

reg_sp22_first = (df['registration_date'] <= sp22_first)
reg_sp22_last = (df['registration_date'] <= sp22_last)
reg_sp22_oed = (df['registration_date'] <= sp22_oed)

reg_fl22_first = (df['registration_date'] <= fl22_first)
reg_fl22_last = (df['registration_date'] <= fl22_last)
reg_fl22_oed = (df['registration_date'] <= fl22_oed)

# Column: 'admission'
admission_transfer = (
  (df['admission'] == 'New Transfer')
  | (df['admission'] == 'New CUNY')
)
admission_notTransfer = (
  (df['admission'] != 'New Transfer')
  & (df['admission'] != 'New CUNY')
)


# Column: 'Major'
major_compsc = (
  (df['Major'] == 'COMPSC-BS')
  | (df['Major'] == 'COMPSC-BS|INFOSCI-BS')
  | (df['Major'] == 'COMPSC-BS|UNDECL-BA')
  | (df['Major'] == 'COMPSC-BS|MULTI-BS')
)
major_othercomp = (
  (df['Major'] == 'INFOSCI-BS')
  | (df['Major'] == 'MULTI-BS')
  | (df['Major'] == 'COMPSC-BS|INFOSCI-BS')
  | (df['Major'] == 'COMPSC-BS|MULTI-BS')
  | (df['Major'] == 'INFOSCI-BS|MULTI-BS')
)
major_noncomp = (df['Major'] == 'Other')
major_undecl = (
  (df['Major'] == 'UNDECL-BA')
  | (df['Major'] == 'COMPSC-BS|UNDECL-BA')
)


# Column: 'passfaildrop'
pfd_pass = (df['passfaildrop'] == 'Pass')
pfd_drop = (df['passfaildrop'] == 'Drop')
pfd_fail = (df['passfaildrop'] == 'Fail')


# Column: 'Instructor type'
instructor_tt = df['Instructor type'] == 'TT'
instructor_pt = df['Instructor type'] == 'PT'

# CS1

## SP-21

### a

In [ ]:
#### 3. Number of sections of CS1 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp21) & (class_cs1)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS1 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS1 offered this term
	16

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp21) & (class_cs1) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS1 this term
	6

In [ ]:
#6. Number of part-time faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp21) & (class_cs1) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of part-time faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

6. Number of part-time faculty teaching CS1 this term
	4

### b

In [ ]:
#10. Number of students enrolled in CS1 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (reg_sp21_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '10. Number of students enrolled in CS1 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS1 on Day 1 of this Academic Term

gender
F    125
M    281
Name: eid, dtype: int64

Total: 406

In [ ]:
#### 11. Changes in CS1 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > sp21_first) & (reg_sp21_oed)
searchFlags_add = (semester_sp21) & (class_cs1) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	17

In [ ]:
#12. Number of students enrolled in CS1 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (reg_sp21_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS1 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS1 as of Official Enrollment Day

gender
F    130
M    291
Name: eid, dtype: int64

Total: 421

In [ ]:
#15. Number of students enrolled in CS1 who were external transfers

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (admission_transfer)
count_gender =  df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total =  df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of students enrolled in CS1 who were external transfers'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of students enrolled in CS1 who were external transfers

gender
F    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 16. Number of declared Computer Science majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of declared Computer Science majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of declared Computer Science majors enrolled in CS1

gender
F     43
M    144
Name: eid, dtype: int64

Total: 187

In [ ]:
#### 17. Number of Other Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of other computing major majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of other computing major majors enrolled in CS1

gender
F    15
M    30
Name: eid, dtype: int64

Total: 45

In [ ]:
#### 18. Number of Non-Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of Non Computing Science majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of Non Computing Science majors enrolled in CS1

gender
F    50
M    60
Name: eid, dtype: int64

Total: 110

In [ ]:
#### 19. Number of Undeclared students enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of undeclared students enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of undeclared students enrolled in CS1

gender
F    22
M    57
Name: eid, dtype: int64

Total: 79

### c

In [ ]:
#### 20. Number of declared Computer Science majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of declared Computer Science majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of declared Computer Science majors who completed/passed CS1

gender
F    24
M    84
Name: eid, dtype: int64

Total: 108

In [ ]:
#### 21. Number of Other Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Other Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Other Computing majors who completed/passed CS1

gender
F     7
M    14
Name: eid, dtype: int64

Total: 21

In [ ]:
#### 22. Number of Non-Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of Non-Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of Non-Computing majors who completed/passed CS1

gender
F    18
M    20
Name: eid, dtype: int64

Total: 38

In [ ]:
#### 23. Number of Undeclared students who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '23. Number of Undeclared students who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of Undeclared students who completed/passed CS1

gender
F     6
M    15
Name: eid, dtype: int64

Total: 21

In [ ]:
#### 24. Number of external transfer students (reported in Question 15)
####     who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '24. Number of external transfer students (reported in Question 15)\n'
  '    who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

24. Number of external transfer students (reported in Question 15)
    who completed/passed CS1

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 25. Number of declared Computer Science majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp21) & (class_cs1) & (major_compsc) & (pfd_pass)
searchFlags_next = (semester_fl21) & (class_cs2) & (reg_sp21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '25. Number of declared Computer Science majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

25. Number of declared Computer Science majors who completed CS1
    and are already registered for CS2

gender
F    11
M    29
Name: eid, dtype: int64

Total: 40

In [ ]:
#### 26. Number of Other Computing majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp21) & (class_cs1) & (major_othercomp) & (pfd_pass)
searchFlags_next = (semester_fl21) & (class_cs2) & (reg_sp21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '26. Number of Other Computing majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

26. Number of Other Computing majors who completed CS1
    and are already registered for CS2

gender
F    4
M    1
Name: eid, dtype: int64

Total: 5

In [ ]:
#### 27. Number of Non-Computing majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp21) & (class_cs1) & (major_noncomp) & (pfd_pass)
searchFlags_next = (semester_fl21) & (class_cs2) & (reg_sp21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '27. Number of Non-Computing majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

27. Number of Non-Computing majors who completed CS1
    and are already registered for CS2

gender
M    3
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 28. Number of Undeclared students who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp21) & (class_cs1) & (major_undecl) & (pfd_pass)
searchFlags_next = (semester_fl21) & (class_cs2) & (reg_sp21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '28. Number of Undeclared students who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

28. Number of Undeclared students who completed CS1
    and are already registered for CS2

gender
F    2
M    4
Name: eid, dtype: int64

Total: 6

In [ ]:
#### 29. Number of external transfer students (reported in Question 15)
####     who completed CS1 and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp21) & (class_cs1) & (admission_transfer) & (pfd_pass)
searchFlags_next = (semester_fl21) & (class_cs2) & (reg_sp21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '29. Number of external transfer students (reported in Question 15)\n'
  '    who completed CS1 and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of external transfer students (reported in Question 15)
    who completed CS1 and are already registered for CS2

Series([], Name: eid, dtype: int64)

Total: 0

### d

In [ ]:
#### 30. Number of declared Computer Science majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of declared Computer Science majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of declared Computer Science majors who withdrew from CS1

gender
F    12
M    37
Name: eid, dtype: int64

Total: 49

In [ ]:
#### 31. Number of Other Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Other Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Other Computing majors who withdrew from CS1

gender
F     6
M    11
Name: eid, dtype: int64

Total: 17

In [ ]:
#### 32. Number of Non-Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of Non-Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of Non-Computing majors who withdrew from CS1

gender
F    25
M    27
Name: eid, dtype: int64

Total: 52

In [ ]:
#### 33. Number of Undeclared students who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of Undeclared students who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of Undeclared students who withdrew from CS1

gender
F    11
M    26
Name: eid, dtype: int64

Total: 37

In [ ]:
#### 34. Number of external transfer students (reported in Question 15)
####     who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of external transfer students (reported in Question 15)'
  '\n    who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of external transfer students (reported in Question 15)
    who withdrew from CS1

gender
F    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 35. Number of Computer Science majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Computer Science majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Computer Science majors who failed CS1

gender
F     9
M    23
Name: eid, dtype: int64

Total: 32

In [ ]:
#### 36. Number of Other Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Other Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Other Computing majors who failed CS1

gender
F    2
M    5
Name: eid, dtype: int64

Total: 7

In [ ]:
#### 37. Number of Non-Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of Non-Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of Non-Computing majors who failed CS1

gender
F     7
M    12
Name: eid, dtype: int64

Total: 19

In [ ]:
#### 38. Number of Undeclared students who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '38. Number of Undeclared students who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

38. Number of Undeclared students who failed CS1

gender
F     5
M    16
Name: eid, dtype: int64

Total: 21

In [ ]:
#### 39. Number of external transfer students (reported in Question 15)
####     who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp21) & (class_cs1) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '39. Number of external transfer students (reported in Question 15)'
  '\n    who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

39. Number of external transfer students (reported in Question 15)
    who failed CS1

Series([], Name: eid, dtype: int64)

Total: 0

## FL-21

### a

In [ ]:
# 3. Number of sections of CS1 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl21) & (class_cs1)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS1 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS1 offered this term
	14

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl21) & (class_cs1) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS1 this term
	8

In [ ]:
#6. Number of part-time faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl21) & (class_cs1) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of part-time faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

6. Number of part-time faculty teaching CS1 this term
	4

### b

In [ ]:
#10. Number of students enrolled in CS1 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (reg_fl21_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '10. Number of students enrolled in CS1 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS1 on Day 1 of this Academic Term

gender
F    103
M    287
T      2
Name: eid, dtype: int64

Total: 392

In [ ]:
#### 11. Changes in CS1 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > fl21_first) & (reg_fl21_oed)
searchFlags_add = (semester_fl21) & (class_cs1) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	7

In [ ]:
#12. Number of students enrolled in CS1 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (reg_fl21_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS1 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS1 as of Official Enrollment Day

gender
F    108
M    289
T      2
Name: eid, dtype: int64

Total: 399

In [ ]:
#15. Number of students enrolled in CS1 who were external transfers

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of students enrolled in CS1 who were external transfers'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of students enrolled in CS1 who were external transfers

gender
F    1
M    1
Name: eid, dtype: int64

Total: 2

In [ ]:
#16. Number of declared Computer Science majors enrolled in CS1


## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of declared Computer Science majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of declared Computer Science majors enrolled in CS1

gender
F     41
M    163
T      2
Name: eid, dtype: int64

Total: 206

In [ ]:
#17. Number of Other Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of other Computing Science majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of other Computing Science majors enrolled in CS1

gender
F    14
M    14
Name: eid, dtype: int64

Total: 28

In [ ]:
#18. Number of Non-Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of Non-Computing Science majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of Non-Computing Science majors enrolled in CS1

gender
F    33
M    52
Name: eid, dtype: int64

Total: 85

In [ ]:
#19. Number of Undeclared students enrolled in CS1
 
## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of undeclared student enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of undeclared student enrolled in CS1

gender
F    20
M    60
Name: eid, dtype: int64

Total: 80

### c

In [ ]:
#### 20. Number of declared Computer Science majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of declared Computer Science majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of declared Computer Science majors who completed/passed CS1

gender
F    24
M    79
T     1
Name: eid, dtype: int64

Total: 104

In [ ]:
#### 21. Number of Other Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Other Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Other Computing majors who completed/passed CS1

gender
F    7
M    3
Name: eid, dtype: int64

Total: 10

In [ ]:
#### 22. Number of Non-Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of Non-Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of Non-Computing majors who completed/passed CS1

gender
F     8
M    13
Name: eid, dtype: int64

Total: 21

In [ ]:
#### 23. Number of Undeclared students who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '23. Number of Undeclared students who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of Undeclared students who completed/passed CS1

gender
F     6
M    28
Name: eid, dtype: int64

Total: 34

In [ ]:
#### 24. Number of external transfer students (reported in Question 15)
####     who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '24. Number of external transfer students (reported in Question 15)\n'
  '    who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

24. Number of external transfer students (reported in Question 15)
    who completed/passed CS1

gender
F    1
M    1
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 25. Number of declared Computer Science majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs1) & (major_compsc) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs2) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '25. Number of declared Computer Science majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

25. Number of declared Computer Science majors who completed CS1
    and are already registered for CS2

gender
F    15
M    46
T     1
Name: eid, dtype: int64

Total: 62

In [ ]:
#### 26. Number of Other Computing majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs1) & (major_othercomp) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs2) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '26. Number of Other Computing majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

26. Number of Other Computing majors who completed CS1
    and are already registered for CS2

gender
F    4
Name: eid, dtype: int64

Total: 4

In [ ]:
#### 27. Number of Non-Computing majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs1) & (major_noncomp) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs2) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '27. Number of Non-Computing majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

27. Number of Non-Computing majors who completed CS1
    and are already registered for CS2

gender
F    4
M    3
Name: eid, dtype: int64

Total: 7

In [ ]:
#### 28. Number of Undeclared students who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs1) & (major_undecl) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs2) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '28. Number of Undeclared students who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

28. Number of Undeclared students who completed CS1
    and are already registered for CS2

gender
F     4
M    12
Name: eid, dtype: int64

Total: 16

In [ ]:
#### 29. Number of external transfer students (reported in Question 15)
####     who completed CS1 and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs1) & (admission_transfer) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs2) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '29. Number of external transfer students (reported in Question 15)\n'
  '    who completed CS1 and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of external transfer students (reported in Question 15)
    who completed CS1 and are already registered for CS2

gender
M    1
Name: eid, dtype: int64

Total: 1

### d

In [ ]:
#### 30. Number of declared Computer Science majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of declared Computer Science majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of declared Computer Science majors who withdrew from CS1

gender
F    12
M    54
T     1
Name: eid, dtype: int64

Total: 67

In [ ]:
#### 31. Number of Other Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Other Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Other Computing majors who withdrew from CS1

gender
F    2
M    8
Name: eid, dtype: int64

Total: 10

In [ ]:
#### 32. Number of Non-Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of Non-Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of Non-Computing majors who withdrew from CS1

gender
F    15
M    22
Name: eid, dtype: int64

Total: 37

In [ ]:
#### 33. Number of Undeclared students who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of Undeclared students who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of Undeclared students who withdrew from CS1

gender
F     9
M    24
Name: eid, dtype: int64

Total: 33

In [ ]:
#### 34. Number of external transfer students (reported in Question 15)
####     who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of external transfer students (reported in Question 15)'
  '\n    who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of external transfer students (reported in Question 15)
    who withdrew from CS1

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 35. Number of Computer Science majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Computer Science majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Computer Science majors who failed CS1

gender
F     5
M    30
Name: eid, dtype: int64

Total: 35

In [ ]:
#### 36. Number of Other Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Other Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Other Computing majors who failed CS1

gender
F    5
M    3
Name: eid, dtype: int64

Total: 8

In [ ]:
#### 37. Number of Non-Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of Non-Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of Non-Computing majors who failed CS1

gender
F    10
M    17
Name: eid, dtype: int64

Total: 27

In [ ]:
#### 38. Number of Undeclared students who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '38. Number of Undeclared students who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

38. Number of Undeclared students who failed CS1

gender
F    5
M    8
Name: eid, dtype: int64

Total: 13

In [ ]:
#### 39. Number of external transfer students (reported in Question 15)
####     who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs1) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '39. Number of external transfer students (reported in Question 15)'
  '\n    who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

39. Number of external transfer students (reported in Question 15)
    who failed CS1

Series([], Name: eid, dtype: int64)

Total: 0

## SP-22

### a

In [ ]:
# 3. Number of sections of CS1 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs1)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS1 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS1 offered this term
	14

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs1) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS1 this term
	5

In [ ]:
#6. Number of part-time faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs1) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of part time faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

6. Number of part time faculty teaching CS1 this term
	5

### b

In [ ]:
#10. Number of students enrolled in CS1 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (reg_sp22_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

## print statement
print(
  '10. Number of students enrolled in CS1 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS1 on Day 1 of this Academic Term

gender
0      1
F     97
M    267
T      1
U      1
Name: eid, dtype: int64

Total: 367

In [ ]:
#### 11. Changes in CS1 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > sp22_first) & (reg_sp22_oed)
searchFlags_add = (semester_sp22) & (class_cs1) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	20

In [ ]:
#12. Number of students enrolled in CS1 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (reg_sp22_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS1 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS1 as of Official Enrollment Day

gender
0      1
F    101
M    279
T      1
U      1
Name: eid, dtype: int64

Total: 383

In [ ]:
#15. Number of students enrolled in CS1 who were external transfers

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1)  & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of students enrolled in CS1 who were external transfers'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of students enrolled in CS1 who were external transfers

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#16. Number of declared Computer Science majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1)  & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of declared Computer Science majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of declared Computer Science majors enrolled in CS1

gender
F     29
M    145
T      1
Name: eid, dtype: int64

Total: 175

In [ ]:
#17. Number of Other Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of other Computing majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of other Computing majors enrolled in CS1

gender
F     7
M    19
Name: eid, dtype: int64

Total: 26

In [ ]:
#18. Number of Non-Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) &  (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of Non Computing majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of Non Computing majors enrolled in CS1

gender
0     1
F    38
M    56
U     1
Name: eid, dtype: int64

Total: 96

In [ ]:
#19. Number of Undeclared students enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of undeclared student enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of undeclared student enrolled in CS1

gender
F    27
M    59
Name: eid, dtype: int64

Total: 86

### c

In [ ]:
#### 20. Number of declared Computer Science majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of declared Computer Science majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of declared Computer Science majors who completed/passed CS1

gender
F    12
M    56
Name: eid, dtype: int64

Total: 68

In [ ]:
#### 21. Number of Other Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Other Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Other Computing majors who completed/passed CS1

gender
F    3
M    3
Name: eid, dtype: int64

Total: 6

In [ ]:
#### 22. Number of Non-Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of Non-Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of Non-Computing majors who completed/passed CS1

gender
F     8
M    16
U     1
Name: eid, dtype: int64

Total: 25

In [ ]:
#### 23. Number of Undeclared students who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '23. Number of Undeclared students who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of Undeclared students who completed/passed CS1

gender
F    12
M    27
Name: eid, dtype: int64

Total: 39

In [ ]:
#### 24. Number of external transfer students (reported in Question 15)
####     who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '24. Number of external transfer students (reported in Question 15)\n'
  '    who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

24. Number of external transfer students (reported in Question 15)
    who completed/passed CS1

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 25. Number of declared Computer Science majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs1) & (major_compsc) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs2) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '25. Number of declared Computer Science majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

25. Number of declared Computer Science majors who completed CS1
    and are already registered for CS2

gender
F     4
M    20
Name: eid, dtype: int64

Total: 24

In [ ]:
#### 26. Number of Other Computing majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs1) & (major_othercomp) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs2) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '26. Number of Other Computing majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

26. Number of Other Computing majors who completed CS1
    and are already registered for CS2

gender
F    3
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 27. Number of Non-Computing majors who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs1) & (major_noncomp) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs2) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '27. Number of Non-Computing majors who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

27. Number of Non-Computing majors who completed CS1
    and are already registered for CS2

gender
F    2
M    4
Name: eid, dtype: int64

Total: 6

In [ ]:
#### 28. Number of Undeclared students who completed CS1
####     and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs1) & (major_undecl) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs2) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '28. Number of Undeclared students who completed CS1\n'
  '    and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

28. Number of Undeclared students who completed CS1
    and are already registered for CS2

gender
F     6
M    11
Name: eid, dtype: int64

Total: 17

In [ ]:
#### 29. Number of external transfer students (reported in Question 15)
####     who completed CS1 and are already registered for CS2

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs1) & (admission_transfer) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs2) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '29. Number of external transfer students (reported in Question 15)\n'
  '    who completed CS1 and are already registered for CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of external transfer students (reported in Question 15)
    who completed CS1 and are already registered for CS2

Series([], Name: eid, dtype: int64)

Total: 0

### d

In [ ]:
#### 30. Number of declared Computer Science majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of declared Computer Science majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of declared Computer Science majors who withdrew from CS1

gender
F    12
M    61
Name: eid, dtype: int64

Total: 73

In [ ]:
#### 31. Number of Other Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Other Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Other Computing majors who withdrew from CS1

gender
F    3
M    8
Name: eid, dtype: int64

Total: 11

In [ ]:
#### 32. Number of Non-Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of Non-Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of Non-Computing majors who withdrew from CS1

gender
F    23
M    24
Name: eid, dtype: int64

Total: 47

In [ ]:
#### 33. Number of Undeclared students who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of Undeclared students who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of Undeclared students who withdrew from CS1

gender
F    12
M    20
Name: eid, dtype: int64

Total: 32

In [ ]:
#### 34. Number of external transfer students (reported in Question 15)
####     who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of external transfer students (reported in Question 15)'
  '\n    who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of external transfer students (reported in Question 15)
    who withdrew from CS1

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 35. Number of Computer Science majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Computer Science majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Computer Science majors who failed CS1

gender
F     5
M    30
T     1
Name: eid, dtype: int64

Total: 36

In [ ]:
#### 36. Number of Other Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Other Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Other Computing majors who failed CS1

gender
F    1
M    8
Name: eid, dtype: int64

Total: 9

In [ ]:
#### 37. Number of Non-Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of Non-Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of Non-Computing majors who failed CS1

gender
0     1
F     7
M    17
Name: eid, dtype: int64

Total: 25

In [ ]:
#### 38. Number of Undeclared students who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '38. Number of Undeclared students who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

38. Number of Undeclared students who failed CS1

gender
F     4
M    13
Name: eid, dtype: int64

Total: 17

In [ ]:
#### 39. Number of external transfer students (reported in Question 15)
####     who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs1) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '39. Number of external transfer students (reported in Question 15)'
  '\n    who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

39. Number of external transfer students (reported in Question 15)
    who failed CS1

Series([], Name: eid, dtype: int64)

Total: 0

## FL-22

### a

In [ ]:
# 3. Number of sections of CS1 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs1)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS1 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS1 offered this term
	14

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs1) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS1 this term
	8

In [ ]:
#6. Number of part-time faculty teaching CS1 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs1) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of part-time faculty teaching CS1 this term'
  '\n\t{}'.format(count)
)

6. Number of part-time faculty teaching CS1 this term
	3

### b

In [ ]:
#10. Number of students enrolled in CS1 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (reg_fl22_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '10. Number of students enrolled in CS1 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS1 on Day 1 of this Academic Term

gender
F    114
M    274
Name: eid, dtype: int64

Total: 388

In [ ]:
#### 11. Changes in CS1 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > fl22_first) & (reg_fl22_oed)
searchFlags_add = (semester_fl22) & (class_cs1) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	3

In [ ]:
#12. Number of students enrolled in CS1 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (reg_fl22_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS1 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS1 as of Official Enrollment Day

gender
F    114
M    277
Name: eid, dtype: int64

Total: 391

In [ ]:
#15. Number of students enrolled in CS1 who were external transfers

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of students enrolled in CS1 who were external transfers'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of students enrolled in CS1 who were external transfers

gender
F    1
M    3
Name: eid, dtype: int64

Total: 4

In [ ]:
#16. Number of declared Computer Science majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of declared Computer Science majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of declared Computer Science majors enrolled in CS1

gender
F     46
M    151
Name: eid, dtype: int64

Total: 197

In [ ]:
#17. Number of Other Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of other Computing majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of other Computing majors enrolled in CS1

gender
F     6
M    12
Name: eid, dtype: int64

Total: 18

In [ ]:
#18. Number of Non-Computing majors enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of non computing majors enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of non computing majors enrolled in CS1

gender
F    33
M    53
Name: eid, dtype: int64

Total: 86

In [ ]:
#19. Number of Undeclared students enrolled in CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of undeclared Student enrolled in CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of undeclared Student enrolled in CS1

gender
F    29
M    61
Name: eid, dtype: int64

Total: 90

### c

In [ ]:
#### 20. Number of declared Computer Science majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of declared Computer Science majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of declared Computer Science majors who completed/passed CS1

gender
F    21
M    69
Name: eid, dtype: int64

Total: 90

In [ ]:
#### 21. Number of Other Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Other Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Other Computing majors who completed/passed CS1

gender
F    4
M    9
Name: eid, dtype: int64

Total: 13

In [ ]:
#### 22. Number of Non-Computing majors who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of Non-Computing majors who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of Non-Computing majors who completed/passed CS1

gender
F    14
M    19
Name: eid, dtype: int64

Total: 33

In [ ]:
#### 23. Number of Undeclared students who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '23. Number of Undeclared students who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of Undeclared students who completed/passed CS1

gender
F    18
M    26
Name: eid, dtype: int64

Total: 44

In [ ]:
#### 24. Number of external transfer students (reported in Question 15)
####     who completed/passed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '24. Number of external transfer students (reported in Question 15)\n'
  '    who completed/passed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

24. Number of external transfer students (reported in Question 15)
    who completed/passed CS1

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 25-29 cannot be answered without data from [Spring 2023]

### d

In [ ]:
#### 30. Number of declared Computer Science majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of declared Computer Science majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of declared Computer Science majors who withdrew from CS1

gender
F    15
M    49
Name: eid, dtype: int64

Total: 64

In [ ]:
#### 31. Number of Other Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Other Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Other Computing majors who withdrew from CS1

gender
F    1
M    2
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 32. Number of Non-Computing majors who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of Non-Computing majors who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of Non-Computing majors who withdrew from CS1

gender
F    13
M    20
Name: eid, dtype: int64

Total: 33

In [ ]:
#### 33. Number of Undeclared students who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of Undeclared students who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of Undeclared students who withdrew from CS1

gender
F     8
M    20
Name: eid, dtype: int64

Total: 28

In [ ]:
#### 34. Number of external transfer students (reported in Question 15)
####     who withdrew from CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of external transfer students (reported in Question 15)'
  '\n    who withdrew from CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of external transfer students (reported in Question 15)
    who withdrew from CS1

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 35. Number of Computer Science majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Computer Science majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Computer Science majors who failed CS1

gender
F    10
M    33
Name: eid, dtype: int64

Total: 43

In [ ]:
#### 36. Number of Other Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Other Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Other Computing majors who failed CS1

gender
F    1
M    1
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 37. Number of Non-Computing majors who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of Non-Computing majors who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of Non-Computing majors who failed CS1

gender
F     6
M    14
Name: eid, dtype: int64

Total: 20

In [ ]:
#### 38. Number of Undeclared students who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '38. Number of Undeclared students who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

38. Number of Undeclared students who failed CS1

gender
F     3
M    15
Name: eid, dtype: int64

Total: 18

In [ ]:
#### 39. Number of external transfer students (reported in Question 15)
####     who failed CS1

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs1) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '39. Number of external transfer students (reported in Question 15)'
  '\n    who failed CS1'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

39. Number of external transfer students (reported in Question 15)
    who failed CS1

gender
F    1
M    2
Name: eid, dtype: int64

Total: 3

# CS2

## FL-21

### a

In [ ]:
# 3. Number of sections of CS2 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl21) & (class_cs2)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS2 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS2 offered this term
	5

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS2 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl21) & (class_cs2) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS2 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS2 this term
	4

In [ ]:
#6. Number of part-time faculty teaching CS2 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl21) & (class_cs2) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of part-time faculty teaching CS2 this term'
  '\n\t{}'.format(count)
)

6. Number of part-time faculty teaching CS2 this term
	1

### b

In [ ]:
#10. Number of students enrolled in CS2 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (reg_fl21_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '10. Number of students enrolled in CS2 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS2 on Day 1 of this Academic Term

gender
F     32
M    117
Name: eid, dtype: int64

Total: 149

In [ ]:
#### 11. Changes in CS2 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > fl21_first) & (reg_fl21_oed)
searchFlags_add = (semester_fl21) & (class_cs2) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	4

In [ ]:
#12. Number of students enrolled in CS2 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (reg_fl21_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS2 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS2 as of Official Enrollment Day

gender
F     34
M    119
Name: eid, dtype: int64

Total: 153

In [ ]:
#14. Number of external transfers enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '14. Number of students enrolled in CS2 who were external transfers'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of students enrolled in CS2 who were external transfers

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#15. Number of declared Computer Science majors enrolled in CS2


## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of declared Computer Science majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of declared Computer Science majors enrolled in CS2

gender
F    20
M    83
Name: eid, dtype: int64

Total: 103

In [ ]:
#16. Number of Other Computing majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of other Computing Science majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of other Computing Science majors enrolled in CS2

gender
F     7
M    15
Name: eid, dtype: int64

Total: 22

In [ ]:
#17. Number of Non-Computing majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of Non-Computing Science majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of Non-Computing Science majors enrolled in CS2

gender
F    2
M    6
Name: eid, dtype: int64

Total: 8

In [ ]:
#18. Number of Undeclared students enrolled in CS2
 
## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of undeclared student enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of undeclared student enrolled in CS2

gender
F     6
M    15
Name: eid, dtype: int64

Total: 21

### c

In [ ]:
#### 19. Number of declared Computer Science majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of declared Computer Science majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of declared Computer Science majors who completed/passed CS2

gender
F    12
M    53
Name: eid, dtype: int64

Total: 65

In [ ]:
#### 20. Number of Other Computing majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of Other Computing majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of Other Computing majors who completed/passed CS2

gender
F    4
M    6
Name: eid, dtype: int64

Total: 10

In [ ]:
#### 21. Number of Non-Computing majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Non-Computing majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Non-Computing majors who completed/passed CS2

gender
F    2
M    5
Name: eid, dtype: int64

Total: 7

In [ ]:
#### 22. Number of Undeclared students who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of Undeclared students who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of Undeclared students who completed/passed CS2

gender
F    3
M    8
Name: eid, dtype: int64

Total: 11

In [ ]:
#### 23. Number of external transfer students (reported in Question 14)
####     who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '23. Number of external transfer students (reported in Question 14)\n'
  '    who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of external transfer students (reported in Question 14)
    who completed/passed CS2

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 24. Number of declared Computer Science majors who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs2) & (major_compsc) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs3) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '24. Number of declared Computer Science majors who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

24. Number of declared Computer Science majors who completed CS2
    and are already registered for CS3

gender
F    10
M    42
Name: eid, dtype: int64

Total: 52

In [ ]:
#### 25. Number of Other Computing majors who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs2) & (major_othercomp) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs3) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '25. Number of Other Computing majors who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

25. Number of Other Computing majors who completed CS2
    and are already registered for CS3

gender
F    4
M    3
Name: eid, dtype: int64

Total: 7

In [ ]:
#### 26. Number of Non-Computing majors who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs2) & (major_noncomp) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs3) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '26. Number of Non-Computing majors who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

26. Number of Non-Computing majors who completed CS2
    and are already registered for CS3

gender
F    2
M    4
Name: eid, dtype: int64

Total: 6

In [ ]:
#### 27. Number of Undeclared students who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs2) & (major_undecl) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs3) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '27. Number of Undeclared students who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

27. Number of Undeclared students who completed CS2
    and are already registered for CS3

gender
F    2
M    6
Name: eid, dtype: int64

Total: 8

In [ ]:
#### 28. Number of external transfer students (reported in Question 14)
####     who completed CS2 and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_fl21) & (class_cs2) & (admission_transfer) & (pfd_pass)
searchFlags_next = (semester_sp22) & (class_cs3) & (reg_fl21_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '28. Number of external transfer students (reported in Question 14)\n'
  '    who completed CS2 and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

28. Number of external transfer students (reported in Question 14)
    who completed CS2 and are already registered for CS3

Series([], Name: eid, dtype: int64)

Total: 0

### d

In [ ]:
#### 29. Number of declared Computer Science majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '29. Number of declared Computer Science majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of declared Computer Science majors who withdrew from CS2

gender
F     5
M    18
Name: eid, dtype: int64

Total: 23

In [ ]:
#### 30. Number of Other Computing majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of Other Computing majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of Other Computing majors who withdrew from CS2

gender
F    2
M    6
Name: eid, dtype: int64

Total: 8

In [ ]:
#### 31. Number of Non-Computing majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Non-Computing majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Non-Computing majors who withdrew from CS2

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 32. Number of Undeclared students who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of Undeclared students who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of Undeclared students who withdrew from CS2

gender
F    2
M    3
Name: eid, dtype: int64

Total: 5

In [ ]:
#### 33. Number of external transfer students (reported in Question 14)
####     who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of external transfer students (reported in Question 14)'
  '\n    who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of external transfer students (reported in Question 14)
    who withdrew from CS2

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 34. Number of Computer Science majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of Computer Science majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of Computer Science majors who failed CS2

gender
F     3
M    12
Name: eid, dtype: int64

Total: 15

In [ ]:
#### 35. Number of Other Computing majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Other Computing majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Other Computing majors who failed CS2

gender
F    1
M    3
Name: eid, dtype: int64

Total: 4

In [ ]:
#### 36. Number of Non-Computing majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Non-Computing majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Non-Computing majors who failed CS2

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 37. Number of Undeclared students who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of Undeclared students who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of Undeclared students who failed CS2

gender
F    1
M    4
Name: eid, dtype: int64

Total: 5

In [ ]:
#### 38. Number of external transfer students (reported in Question 14)
####     who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl21) & (class_cs2) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '38. Number of external transfer students (reported in Question 14)'
  '\n    who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

38. Number of external transfer students (reported in Question 14)
    who failed CS2

Series([], Name: eid, dtype: int64)

Total: 0

## SP-22

### a

In [ ]:
# 3. Number of sections of CS2 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs2)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS2 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS2 offered this term
	5

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS2 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs2) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS2 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS2 this term
	2

In [ ]:
#6. Number of part-time faculty teaching CS2 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs2) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of part-time faculty teaching CS2 this term'
  '\n\t{}'.format(count)
)

6. Number of part-time faculty teaching CS2 this term
	3

### b

In [ ]:
#10. Number of students enrolled in CS2 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (reg_sp22_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

## print statement
print(
  '10. Number of students enrolled in CS2 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS2 on Day 1 of this Academic Term

gender
F     45
M    117
T      1
Name: eid, dtype: int64

Total: 163

In [ ]:
#### 11. Changes in CS2 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > sp22_first) & (reg_sp22_oed)
searchFlags_add = (semester_sp22) & (class_cs2) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	6

In [ ]:
#12. Number of students enrolled in CS2 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (reg_sp22_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS2 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS2 as of Official Enrollment Day

gender
F     47
M    121
T      1
Name: eid, dtype: int64

Total: 169

In [ ]:
#14. Number of students enrolled in CS2 who were external transfers

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '14. Number of students enrolled in CS2 who were external transfers'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of students enrolled in CS2 who were external transfers

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#15. Number of declared Computer Science majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of declared Computer Science majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of declared Computer Science majors enrolled in CS2

gender
F    28
M    82
T     1
Name: eid, dtype: int64

Total: 111

In [ ]:
#16. Number of Other Computing majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of other Computing majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of other Computing majors enrolled in CS2

gender
F     5
M    10
Name: eid, dtype: int64

Total: 15

In [ ]:
#17. Number of Non-Computing majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of Non Computing majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of Non Computing majors enrolled in CS2

gender
F    7
M    7
Name: eid, dtype: int64

Total: 14

In [ ]:
#18. Number of Undeclared students enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of undeclared student enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of undeclared student enrolled in CS2

gender
F     7
M    22
Name: eid, dtype: int64

Total: 29

### c

In [ ]:
#### 19. Number of declared Computer Science majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of declared Computer Science majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of declared Computer Science majors who completed/passed CS2

gender
F    20
M    60
T     1
Name: eid, dtype: int64

Total: 81

In [ ]:
#### 20. Number of Other Computing majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of Other Computing majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of Other Computing majors who completed/passed CS2

gender
F    4
M    5
Name: eid, dtype: int64

Total: 9

In [ ]:
#### 21. Number of Non-Computing majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Non-Computing majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Non-Computing majors who completed/passed CS2

gender
F    4
M    3
Name: eid, dtype: int64

Total: 7

In [ ]:
#### 22. Number of Undeclared students who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of Undeclared students who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of Undeclared students who completed/passed CS2

gender
F     5
M    14
Name: eid, dtype: int64

Total: 19

In [ ]:
#### 23. Number of external transfer students (reported in Question 14)
####     who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '23. Number of external transfer students (reported in Question 14)\n'
  '    who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of external transfer students (reported in Question 14)
    who completed/passed CS2

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 24. Number of declared Computer Science majors who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs2) & (major_compsc) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs3) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '24. Number of declared Computer Science majors who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

24. Number of declared Computer Science majors who completed CS2
    and are already registered for CS3

gender
F    15
M    41
T     1
Name: eid, dtype: int64

Total: 57

In [ ]:
#### 25. Number of Other Computing majors who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs2) & (major_othercomp) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs3) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '25. Number of Other Computing majors who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

25. Number of Other Computing majors who completed CS2
    and are already registered for CS3

gender
F    2
M    4
Name: eid, dtype: int64

Total: 6

In [ ]:
#### 26. Number of Non-Computing majors who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs2) & (major_noncomp) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs3) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '26. Number of Non-Computing majors who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

26. Number of Non-Computing majors who completed CS2
    and are already registered for CS3

gender
F    2
M    2
Name: eid, dtype: int64

Total: 4

In [ ]:
#### 27. Number of Undeclared students who completed CS2
####     and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs2) & (major_undecl) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs3) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '27. Number of Undeclared students who completed CS2\n'
  '    and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

27. Number of Undeclared students who completed CS2
    and are already registered for CS3

gender
F    3
M    9
Name: eid, dtype: int64

Total: 12

In [ ]:
#### 28. Number of external transfer students (reported in Question 14)
####     who completed CS2 and are already registered for CS3

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs2) & (admission_transfer) & (pfd_pass)
searchFlags_next = (semester_fl22) & (class_cs3) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '28. Number of external transfer students (reported in Question 14)\n'
  '    who completed CS2 and are already registered for CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

28. Number of external transfer students (reported in Question 14)
    who completed CS2 and are already registered for CS3

Series([], Name: eid, dtype: int64)

Total: 0

### d

In [ ]:
#### 29. Number of declared Computer Science majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '29. Number of declared Computer Science majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of declared Computer Science majors who withdrew from CS2

gender
F     4
M    19
Name: eid, dtype: int64

Total: 23

In [ ]:
#### 30. Number of Other Computing majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of Other Computing majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of Other Computing majors who withdrew from CS2

gender
M    5
Name: eid, dtype: int64

Total: 5

In [ ]:
#### 31. Number of Non-Computing majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Non-Computing majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Non-Computing majors who withdrew from CS2

gender
F    3
M    2
Name: eid, dtype: int64

Total: 5

In [ ]:
#### 32. Number of Undeclared students who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of Undeclared students who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of Undeclared students who withdrew from CS2

gender
F    2
M    6
Name: eid, dtype: int64

Total: 8

In [ ]:
#### 33. Number of external transfer students (reported in Question 14)
####     who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of external transfer students (reported in Question 14)'
  '\n    who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of external transfer students (reported in Question 14)
    who withdrew from CS2

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 34. Number of Computer Science majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of Computer Science majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of Computer Science majors who failed CS2

gender
F    4
M    3
Name: eid, dtype: int64

Total: 7

In [ ]:
#### 35. Number of Other Computing majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Other Computing majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Other Computing majors who failed CS2

gender
F    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 36. Number of Non-Computing majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Non-Computing majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Non-Computing majors who failed CS2

gender
M    2
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 37. Number of Undeclared students who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of Undeclared students who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of Undeclared students who failed CS2

gender
M    2
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 38. Number of external transfer students (reported in Question 14)
####     who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs2) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '38. Number of external transfer students (reported in Question 14)'
  '\n    who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

38. Number of external transfer students (reported in Question 14)
    who failed CS2

Series([], Name: eid, dtype: int64)

Total: 0

## FL-22

### a

In [ ]:
# 3. Number of sections of CS2 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs2)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS2 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS2 offered this term
	5

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS2 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs2) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS2 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS2 this term
	4

In [ ]:
#6. Number of part-time faculty teaching CS2 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs2) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of Part-time faculty teaching CS2 this term'
  '\n\t{}'.format(count)
)

6. Number of Part-time faculty teaching CS2 this term
	1

### b

In [ ]:
#10. Number of students enrolled in CS2 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (reg_fl22_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '10. Number of students enrolled in CS2 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS2 on Day 1 of this Academic Term

gender
F     31
M    108
Name: eid, dtype: int64

Total: 139

In [ ]:
#### 11. Changes in CS2 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > fl22_first) & (reg_fl22_oed)
searchFlags_add = (semester_fl22) & (class_cs2) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	8

In [ ]:
#12. Number of students enrolled in CS2 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (reg_fl22_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS2 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS2 as of Official Enrollment Day

gender
F     33
M    113
U      1
Name: eid, dtype: int64

Total: 147

In [ ]:
#14. Number of external transfers enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '14. Number of external transfers enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of external transfers enrolled in CS2

gender
M    2
Name: eid, dtype: int64

Total: 2

In [ ]:
#15. Number of declared Computer Science majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of declared Computer Science majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of declared Computer Science majors enrolled in CS2

gender
F    16
M    66
Name: eid, dtype: int64

Total: 82

In [ ]:
#16. Number of Other Computing majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of other Computing majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of other Computing majors enrolled in CS2

gender
F     5
M    10
U     1
Name: eid, dtype: int64

Total: 16

In [ ]:
#17. Number of Non-Computing majors enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of non computing majors enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of non computing majors enrolled in CS2

gender
F     3
M    11
Name: eid, dtype: int64

Total: 14

In [ ]:
#18. Number of Undeclared students enrolled in CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of undeclared Student enrolled in CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of undeclared Student enrolled in CS2

gender
F     9
M    26
Name: eid, dtype: int64

Total: 35

### c

In [ ]:
#### 19. Number of declared Computer Science majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of declared Computer Science majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of declared Computer Science majors who completed/passed CS2

gender
F     5
M    32
Name: eid, dtype: int64

Total: 37

In [ ]:
#### 20. Number of Other Computing majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of Other Computing majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of Other Computing majors who completed/passed CS2

gender
F    1
M    3
Name: eid, dtype: int64

Total: 4

In [ ]:
#### 21. Number of Non-Computing majors who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Non-Computing majors who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Non-Computing majors who completed/passed CS2

gender
F    2
M    7
Name: eid, dtype: int64

Total: 9

In [ ]:
#### 22. Number of Undeclared students who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of Undeclared students who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of Undeclared students who completed/passed CS2

gender
F     6
M    14
Name: eid, dtype: int64

Total: 20

In [ ]:
#### 23. Number of external transfer students (reported in Question 14)
####     who completed/passed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '23. Number of external transfer students (reported in Question 14)\n'
  '    who completed/passed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of external transfer students (reported in Question 14)
    who completed/passed CS2

gender
M    2
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 25-29 cannot be answered without data from [Spring 2023]

### d

In [ ]:
#### 29. Number of declared Computer Science majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '29. Number of declared Computer Science majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of declared Computer Science majors who withdrew from CS2

gender
F     7
M    26
Name: eid, dtype: int64

Total: 33

In [ ]:
#### 30. Number of Other Computing majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of Other Computing majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of Other Computing majors who withdrew from CS2

gender
F    2
M    5
U    1
Name: eid, dtype: int64

Total: 8

In [ ]:
#### 31. Number of Non-Computing majors who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Non-Computing majors who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Non-Computing majors who withdrew from CS2

gender
F    1
M    3
Name: eid, dtype: int64

Total: 4

In [ ]:
#### 32. Number of Undeclared students who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of Undeclared students who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of Undeclared students who withdrew from CS2

gender
F    3
M    9
Name: eid, dtype: int64

Total: 12

In [ ]:
#### 33. Number of external transfer students (reported in Question 14)
####     who withdrew from CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of external transfer students (reported in Question 14)'
  '\n    who withdrew from CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of external transfer students (reported in Question 14)
    who withdrew from CS2

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 34. Number of Computer Science majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of Computer Science majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of Computer Science majors who failed CS2

gender
F    4
M    8
Name: eid, dtype: int64

Total: 12

In [ ]:
#### 35. Number of Other Computing majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Other Computing majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Other Computing majors who failed CS2

gender
F    2
M    2
Name: eid, dtype: int64

Total: 4

In [ ]:
#### 36. Number of Non-Computing majors who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Non-Computing majors who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Non-Computing majors who failed CS2

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 37. Number of Undeclared students who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of Undeclared students who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of Undeclared students who failed CS2

gender
M    3
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 38. Number of external transfer students (reported in Question 14)
####     who failed CS2

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs2) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '38. Number of external transfer students (reported in Question 14)'
  '\n    who failed CS2'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

38. Number of external transfer students (reported in Question 14)
    who failed CS2

Series([], Name: eid, dtype: int64)

Total: 0

# CS3

## SP-22

### a

In [ ]:
# 3. Number of sections of CS3 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs3)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS3 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS3 offered this term
	4

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS3 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs3) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS3 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS3 this term
	1

In [ ]:
#6. Number of part-time faculty teaching CS3 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_sp22) & (class_cs3) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of Part-time faculty teaching CS3 this term'
  '\n\t{}'.format(count)
)

6. Number of Part-time faculty teaching CS3 this term
	3

### b

In [ ]:
#10. Number of students enrolled in CS3 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (reg_sp22_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

## print statement
print(
  '10. Number of students enrolled in CS3 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS3 on Day 1 of this Academic Term

gender
F     32
M    105
Name: eid, dtype: int64

Total: 137

In [ ]:
#### 11. Changes in CS3 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > sp22_first) & (reg_sp22_oed)
searchFlags_add = (semester_sp22) & (class_cs3) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	4

In [ ]:
#12. Number of students enrolled in CS3 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (reg_sp22_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS3 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS3 as of Official Enrollment Day

gender
F     32
M    109
Name: eid, dtype: int64

Total: 141

In [ ]:
#13. Number of external transfers enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '13. Number of external transfers enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

13. Number of external transfers enrolled in CS3

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#14. Number of declared Computer Science majors enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '14. Number of declared Computer Science majors enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of declared Computer Science majors enrolled in CS3

gender
F    20
M    80
Name: eid, dtype: int64

Total: 100

In [ ]:
#15. Number of Other Computing majors enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of other Computing majors enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of other Computing majors enrolled in CS3

gender
F     6
M    12
Name: eid, dtype: int64

Total: 18

In [ ]:
#16. Number of Non-Computing majors enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of Non Computing majors enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of Non Computing majors enrolled in CS3

gender
F    3
M    5
Name: eid, dtype: int64

Total: 8

In [ ]:
#17. Number of Undeclared students enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of undeclared student enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of undeclared student enrolled in CS3

gender
F     4
M    12
Name: eid, dtype: int64

Total: 16

### c

In [ ]:
#### 18. Number of declared Computer Science majors who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of declared Computer Science majors who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of declared Computer Science majors who completed/passed CS3

gender
F    15
M    44
Name: eid, dtype: int64

Total: 59

In [ ]:
#### 19. Number of Other Computing majors who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of Other Computing majors who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of Other Computing majors who completed/passed CS3

gender
F    5
M    5
Name: eid, dtype: int64

Total: 10

In [ ]:
#### 20. Number of Non-Computing majors who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of Non-Computing majors who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of Non-Computing majors who completed/passed CS3

gender
F    2
M    4
Name: eid, dtype: int64

Total: 6

In [ ]:
#### 21. Number of Undeclared students who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Undeclared students who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Undeclared students who completed/passed CS3

gender
F    4
M    6
Name: eid, dtype: int64

Total: 10

In [ ]:
#### 22. Number of external transfer students (reported in Question 13)
####     who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of external transfer students (reported in Question 13)\n'
  '    who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of external transfer students (reported in Question 13)
    who completed/passed CS3

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 23. Number of declared Computer Science majors who completed CS3
####     and are already registered for another CS course next term

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs3) & (major_compsc) & (pfd_pass)
searchFlags_next = (semester_fl22) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '23. Number of declared Computer Science majors who completed CS3\n'
  '    and are already registered for another CS course next term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

23. Number of declared Computer Science majors who completed CS3
    and are already registered for another CS course next term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 24. Number of Other Computing majors who completed CS3
####     and are already registered for another CS course next term

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs3) & (major_othercomp) & (pfd_pass)
searchFlags_next = (semester_fl22) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '24. Number of Other Computing majors who completed CS3\n'
  '    and are already registered for another CS course next term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

24. Number of Other Computing majors who completed CS3
    and are already registered for another CS course next term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 25. Number of Non-Computing majors who completed CS3
####     and are already registered for another CS course next term

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs3) & (major_noncomp) & (pfd_pass)
searchFlags_next = (semester_fl22) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '25. Number of Non-Computing majors who completed CS3\n'
  '    and are already registered for another CS course next term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

25. Number of Non-Computing majors who completed CS3
    and are already registered for another CS course next term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 26. Number of Undeclared students who completed CS3
####     and are already registered for another CS course next term

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs3) & (major_undecl) & (pfd_pass)
searchFlags_next = (semester_fl22) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '26. Number of Undeclared students who completed CS3\n'
  '    and are already registered for another CS course next term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

26. Number of Undeclared students who completed CS3
    and are already registered for another CS course next term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 27. Number of external transfer students (reported in Question 13)
####     who completed CS3 and are already registered for another CS course next term

## number of records that meet the search criteria
searchFlags_curr = (semester_sp22) & (class_cs3) & (admission_transfer) & (pfd_pass)
searchFlags_next = (semester_fl22) & (reg_sp22_last)
bools = df.loc[searchFlags_curr]['eid'].isin(df.loc[searchFlags_next]['eid'])

count_gender = df.loc[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '27. Number of external transfer students (reported in Question 13)\n'
  '    who completed CS3 and are already registered for another CS course next term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

27. Number of external transfer students (reported in Question 13)
    who completed CS3 and are already registered for another CS course next term

Series([], Name: eid, dtype: int64)

Total: 0

### d

In [ ]:
#### 28. Number of declared Computer Science majors who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '28. Number of declared Computer Science majors who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

28. Number of declared Computer Science majors who withdrew from CS3

gender
F     3
M    29
Name: eid, dtype: int64

Total: 32

In [ ]:
#### 29. Number of Other Computing majors who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '29. Number of Other Computing majors who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of Other Computing majors who withdrew from CS3

gender
M    5
Name: eid, dtype: int64

Total: 5

In [ ]:
#### 30. Number of Non-Computing majors who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30 Number of Non-Computing majors who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30 Number of Non-Computing majors who withdrew from CS3

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 31. Number of Undeclared students who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Undeclared students who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Undeclared students who withdrew from CS3

gender
M    5
Name: eid, dtype: int64

Total: 5

In [ ]:
#### 32. Number of external transfer students (reported in Question 13)
####     who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of external transfer students (reported in Question 13)'
  '\n    who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of external transfer students (reported in Question 13)
    who withdrew from CS3

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 33. Number of Computer Science majors who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of Computer Science majors who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of Computer Science majors who failed CS3

gender
F    2
M    7
Name: eid, dtype: int64

Total: 9

In [ ]:
#### 34. Number of Other Computing majors who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of Other Computing majors who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of Other Computing majors who failed CS3

gender
F    1
M    2
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 35. Number of Non-Computing majors who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Non-Computing majors who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Non-Computing majors who failed CS3

gender
F    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 36. Number of Undeclared students who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Undeclared students who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Undeclared students who failed CS3

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 37. Number of external transfer students (reported in Question 13)
####     who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_sp22) & (class_cs3) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of external transfer students (reported in Question 13)'
  '\n    who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of external transfer students (reported in Question 13)
    who failed CS3

Series([], Name: eid, dtype: int64)

Total: 0

## FL-22

### a

In [ ]:
# 3. Number of sections of CS3 offered this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs3)
count = df.loc[searchFlags]['section'].nunique()

print(
  '3. Number of sections of CS3 offered this term'
  '\n\t{}'.format(count)
)

3. Number of sections of CS3 offered this term
	4

In [ ]:
#4. Number of tenured/tenure-track faculty teaching CS3 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs3) & (instructor_tt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '4. Number of tenured/tenure-track faculty teaching CS3 this term'
  '\n\t{}'.format(count)
)

4. Number of tenured/tenure-track faculty teaching CS3 this term
	1

In [ ]:
#6. Number of part-time faculty teaching CS3 this term

## number of unique values within a column,
##   counting inside a df that meets above search criteria
searchFlags = (semester_fl22) & (class_cs3) & (instructor_pt)
count = df.loc[searchFlags]['Instructor'].nunique()

print(
  '6. Number of Part-time faculty teaching CS3 this term'
  '\n\t{}'.format(count)
)

6. Number of Part-time faculty teaching CS3 this term
	3

### b

In [ ]:
#10. Number of students enrolled in CS3 on Day 1 of this Academic Term

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (reg_fl22_first)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '10. Number of students enrolled in CS3 on Day 1 of this Academic Term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of students enrolled in CS3 on Day 1 of this Academic Term

gender
0      1
F     38
M    116
T      1
Name: eid, dtype: int64

Total: 156

In [ ]:
#### 11. Changes in CS3 enrollment between Day 1 and Official Enrollment Day


# Number of students who added the course by Official Enrollment Day
registration_add = (df['registration_date'] > fl22_first) & (reg_fl22_oed)
searchFlags_add = (semester_fl22) & (class_cs3) & (registration_add)
count_add = df.loc[searchFlags_add]['eid'].nunique()

print(
'11. Number of students who added the course by Official Enrollment Day, after Day 1'
'\n\t{}'.format(count_add)
)

# Number of students who dropped the course by Official Enrollment Day
# - Unaswerable

11. Number of students who added the course by Official Enrollment Day, after Day 1
	0

In [ ]:
#12. Number of students enrolled in CS3 as of Official Enrollment Day

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (reg_fl22_oed)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '12. Number of students enrolled in CS3 as of Official Enrollment Day'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of students enrolled in CS3 as of Official Enrollment Day

gender
0      1
F     38
M    116
T      1
Name: eid, dtype: int64

Total: 156

In [ ]:
#13. Number of external transfers enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (admission_transfer)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '13. Number of external transfers enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

13. Number of external transfers enrolled in CS3

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#14. Number of declared Computer Science majors enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '14. Number of declared Computer Science majors enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of declared Computer Science majors enrolled in CS3

gender
F    23
M    88
T     1
Name: eid, dtype: int64

Total: 112

In [ ]:
#15. Number of Other Computing majors enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_othercomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '15. Number of other Computing majors enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of other Computing majors enrolled in CS3

gender
F    7
M    6
Name: eid, dtype: int64

Total: 13

In [ ]:
#16. Number of Non-Computing majors enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_noncomp)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '16. Number of non computing majors enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of non computing majors enrolled in CS3

gender
0    1
F    5
M    7
Name: eid, dtype: int64

Total: 13

In [ ]:
#17. Number of Undeclared students enrolled in CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_undecl)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '17. Number of undeclared Student enrolled in CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

17. Number of undeclared Student enrolled in CS3

gender
F     3
M    15
Name: eid, dtype: int64

Total: 18

### c

In [ ]:
#### 18. Number of declared Computer Science majors who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_compsc) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '18. Number of declared Computer Science majors who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Number of declared Computer Science majors who completed/passed CS3

gender
F    14
M    61
Name: eid, dtype: int64

Total: 75

In [ ]:
#### 19. Number of Other Computing majors who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_othercomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '19. Number of Other Computing majors who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of Other Computing majors who completed/passed CS3

gender
F    3
M    4
Name: eid, dtype: int64

Total: 7

In [ ]:
#### 20. Number of Non-Computing majors who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_noncomp) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '20. Number of Non-Computing majors who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of Non-Computing majors who completed/passed CS3

gender
0    1
F    5
M    5
Name: eid, dtype: int64

Total: 11

In [ ]:
#### 21. Number of Undeclared students who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_undecl) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '21. Number of Undeclared students who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of Undeclared students who completed/passed CS3

gender
F     3
M    11
Name: eid, dtype: int64

Total: 14

In [ ]:
#### 22. Number of external transfer students (reported in Question 13)
####     who completed/passed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (admission_transfer) & (pfd_pass)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '22. Number of external transfer students (reported in Question 13)\n'
  '    who completed/passed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

22. Number of external transfer students (reported in Question 13)
    who completed/passed CS3

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 25-29 cannot be answered without data from [Spring 2023]

### d

In [ ]:
#### 28. Number of declared Computer Science majors who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_compsc) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '28. Number of declared Computer Science majors who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

28. Number of declared Computer Science majors who withdrew from CS3

gender
F     7
M    10
Name: eid, dtype: int64

Total: 17

In [ ]:
#### 29. Number of Other Computing majors who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_othercomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '29. Number of Other Computing majors who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

29. Number of Other Computing majors who withdrew from CS3

gender
F    2
M    1
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 30. Number of Non-Computing majors who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_noncomp) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '30. Number of Non-Computing majors who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

30. Number of Non-Computing majors who withdrew from CS3

gender
M    2
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 31. Number of Undeclared students who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_undecl) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '31. Number of Undeclared students who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

31. Number of Undeclared students who withdrew from CS3

gender
M    2
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 32. Number of external transfer students (reported in Question 13)
####     who withdrew from CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (admission_transfer) & (pfd_drop)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '32. Number of external transfer students (reported in Question 13)'
  '\n    who withdrew from CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

32. Number of external transfer students (reported in Question 13)
    who withdrew from CS3

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 33. Number of Computer Science majors who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_compsc) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '33. Number of Computer Science majors who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

33. Number of Computer Science majors who failed CS3

gender
F     2
M    17
T     1
Name: eid, dtype: int64

Total: 20

In [ ]:
#### 34. Number of Other Computing majors who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_othercomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '34. Number of Other Computing majors who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

34. Number of Other Computing majors who failed CS3

gender
F    2
M    1
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 35. Number of Non-Computing majors who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_noncomp) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '35. Number of Non-Computing majors who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

35. Number of Non-Computing majors who failed CS3

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 36. Number of Undeclared students who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (major_undecl) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '36. Number of Undeclared students who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

36. Number of Undeclared students who failed CS3

gender
M    2
Name: eid, dtype: int64

Total: 2

In [ ]:
#### 37. Number of external transfer students (reported in Question 13)
####     who failed CS3

## number of records that meet the search criteria
searchFlags = (semester_fl22) & (class_cs3) & (admission_transfer) & (pfd_fail)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '37. Number of external transfer students (reported in Question 13)'
  '\n    who failed CS3'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

37. Number of external transfer students (reported in Question 13)
    who failed CS3

Series([], Name: eid, dtype: int64)

Total: 0

# R&G

In [ ]:
#### Spring 2021 - Number of Other Computing and Computer Science majors

searchFlags_compsc = (semester_sp21) & (major_compsc)
count_gender_compsc = df.loc[searchFlags_compsc].groupby('gender')['eid'].nunique()
count_total_compsc = df.loc[searchFlags_compsc]['eid'].nunique()

searchFlags_other = (semester_sp21) & (major_othercomp)
count_gender_other = df.loc[searchFlags_other].groupby('gender')['eid'].nunique()
count_total_other = df.loc[searchFlags_other]['eid'].nunique()

print(
  '----Spring 2021----\n\n'
  'Computer Science majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'  '\n\n'
  'Other Computing majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'  '\n\n\n'.format(
      count_gender_compsc, count_total_compsc,
      count_gender_other, count_total_other
      )
)

----Spring 2021----

Computer Science majors enrolled

gender
F     91
M    308
Name: eid, dtype: int64

Total: 399

Other Computing majors enrolled

gender
F    29
M    78
Name: eid, dtype: int64

Total: 107

## FL-21

In [ ]:
#### Number of Other Computing and Computer Science majors


## Fall 2021
searchFlags_compsc = (semester_fl21) & (major_compsc)
count_gender_compsc = df.loc[searchFlags_compsc].groupby('gender')['eid'].nunique()
count_total_compsc = df.loc[searchFlags_compsc]['eid'].nunique()

searchFlags_other = (semester_fl21) & (major_othercomp)
count_gender_other = df.loc[searchFlags_other].groupby('gender')['eid'].nunique()
count_total_other = df.loc[searchFlags_other]['eid'].nunique()

print(
  '----Fall 2021----\n\n'
  '--Computer Science majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'  '\n\n\n'
  '--Other Computing majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'.format(
      count_gender_compsc, count_total_compsc,
      count_gender_other, count_total_other
      )
)

----Fall 2021----

--Computer Science majors enrolled

gender
F     79
M    328
T      2
Name: eid, dtype: int64

Total: 409


--Other Computing majors enrolled

gender
F    26
M    51
Name: eid, dtype: int64

Total: 77

In [ ]:
#### 2. Number of declared Computer Science majors enrolled at
####    your institution in the previous term

## number of records that meet search criteria
searchFlags = (semester_sp21) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '2. Number of declared Computer Science majors enrolled at'
  '\n   your institution in the previous term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

2. Number of declared Computer Science majors enrolled at
   your institution in the previous term

gender
F     91
M    308
Name: eid, dtype: int64

Total: 399

In [ ]:
#### 4. Number of students reported in Question 2 who were still enrolled
####    as Computer Science majors in the current term

## search flags
searchFlags_prev = (semester_sp21) & (major_compsc)
searchFlags_curr = (semester_fl21) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '4. Number of students reported in Question 2 who were still enrolled'
  '\n   as Computer Science majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

4. Number of students reported in Question 2 who were still enrolled
   as Computer Science majors in the current term

gender
F     34
M    147
Name: eid, dtype: int64

Total: 181

In [ ]:
#### 5. Number of students reported in Question 2 who were enrolled in
####    an Other Computing major in the current term

## search flags
searchFlags_prev = (semester_sp21) & (major_compsc)
searchFlags_curr = (semester_fl21) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '5. Number of students reported in Question 2 who were enrolled in'
  '\n   an Other Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

5. Number of students reported in Question 2 who were enrolled in
   an Other Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 6. Number of students reported in Question 2 who were enrolled in
####    any Non-Computing major in the current term

## search flags
searchFlags_prev = (semester_sp21) & (major_compsc)
searchFlags_curr = (semester_fl21) & (major_noncomp)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '6. Number of students reported in Question 2 who were enrolled in'
  '\n   any Non-Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

6. Number of students reported in Question 2 who were enrolled in
   any Non-Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 8. Total number of new Computer Science majors this academic term

## search flags
searchFlags_prev = (semester_sp21) & (major_compsc)
searchFlags_curr = (semester_fl21) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   were not CS majors in the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '8. Total number of new Computer Science majors this academic term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

8. Total number of new Computer Science majors this academic term

gender
F     45
M    181
T      2
Name: eid, dtype: int64

Total: 228

In [ ]:
#### 9. Number of new majors reported in Question 8 who were not transfer
####    students (internal or external) and declared a major for the first time

## search flags
searchFlags_prev = (semester_sp21) & (major_undecl)
searchFlags_curr = (semester_fl21) & (major_compsc) & (admission_notTransfer)

## true/false dataframe: shows which students in the current term
##   were undeclared in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '9. Number of new majors reported in Question 8 who were not transfer'
  '\n   students (internal or external) and declared a major for the first time'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

9. Number of new majors reported in Question 8 who were not transfer
   students (internal or external) and declared a major for the first time

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 10. Number of new majors reported in Question 8 who transferred internally
####     from another degree program at your institution.

## search flags
searchFlags_prev = (semester_sp21) & (major_othercomp) & (major_noncomp)
searchFlags_curr = (semester_fl21) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   changed major from one that was held in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '10. Number of new majors reported in Question 8 who transferred internally'
  '\n   from another degree program at your institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of new majors reported in Question 8 who transferred internally
   from another degree program at your institution.

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 11. Number of new majors reported in Question 8 who
####     transferred externally from another institution.

## search flags
searchFlags_prev = (semester_sp21)
searchFlags_curr = (semester_fl21) & (major_compsc) & (admission_transfer)

## true/false dataframe: shows which students in the current term
##   were not registered for the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '11. Number of new majors reported in Question 8 who'
  '\n    transferred externally from another institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

11. Number of new majors reported in Question 8 who
    transferred externally from another institution.

gender
M    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 12. Number of Other Computing majors enrolled
####     at your institution in the previous term 

## search flags
searchFlags = (semester_sp21) & (major_othercomp)

## number of records that meet search criteria
count_gender = df[searchFlags].groupby('gender')['eid'].nunique()
count_total = df[searchFlags]['eid'].nunique()

print(
  '12. Number of Other Computing majors enrolled'
  '\n   at your institution in the previous term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of Other Computing majors enrolled
   at your institution in the previous term

gender
F    29
M    78
Name: eid, dtype: int64

Total: 107

In [ ]:
#### 14. Number of students reported in Question 12 who were
####     still enrolled in Other Computing majors in the current term

## search flags
searchFlags_prev = (semester_sp21) & (major_othercomp)
searchFlags_curr = (semester_fl21) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   had the same major in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '14. Number of students reported in Question 12 who were'
  '\n   still enrolled in Other Computing majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of students reported in Question 12 who were
   still enrolled in Other Computing majors in the current term

gender
F    10
M    26
Name: eid, dtype: int64

Total: 36

In [ ]:
#### 15. Number of students reported in Question 12
####     who were enrolled as Computer Science majors in the current term

## search flags
searchFlags_prev = (semester_sp21) & (major_othercomp)
searchFlags_curr = (semester_fl21) & (major_compsc)

## true/false dataframe: shows which [COMPSC-BS] students in the current term
##   are from the set of students reported in question 12
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '15. Number of students reported in Question 12'
  '\n   who were enrolled as Computer Science majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of students reported in Question 12
   who were enrolled as Computer Science majors in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 16. Number of students reported in Question 12
####     who were enrolled in any Non-Computing major in the current term

## search flags
searchFlags_prev = (semester_sp21) & (major_othercomp)
searchFlags_curr = (semester_fl21) & (major_noncomp)

## true/false dataframe: shows which non-computing students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '16. Number of students reported in Question 12'
  '\n   who were enrolled in any Non-Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of students reported in Question 12
   who were enrolled in any Non-Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 18. Total number of new Other Computing majors this term

## search flags
searchFlags_prev = (semester_sp21) & (major_othercomp)
searchFlags_curr = (semester_fl21) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   were not other computing majors in the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '18. Total number of new Other Computing majors this term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Total number of new Other Computing majors this term

gender
F    16
M    25
Name: eid, dtype: int64

Total: 41

In [ ]:
#### 19. Number of new majors reported in Question 18 who were not transfer
####    students (internal or external) and declared a major for the first time

## search flags
searchFlags_prev = (semester_sp21) & (major_undecl)
searchFlags_curr = (semester_fl21) & (major_othercomp) & (admission_notTransfer)

## true/false dataframe: shows which students in the current term
##   were undeclared in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '19. Number of new majors reported in Question 18 who were not transfer'
  '\n   students (internal or external) and declared a major for the first time'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of new majors reported in Question 18 who were not transfer
   students (internal or external) and declared a major for the first time

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 20. Number of new majors reported in Question 18 who transferred internally
####     from another unit or degree program at your institution.

## search flags
searchFlags_prev = (semester_sp21) & (major_compsc) & (major_noncomp)
searchFlags_curr = (semester_fl21) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   changed major from one that was held in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '20. Number of new majors reported in Question 18 who transferred internally'
  '\n   from another degree program at your institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of new majors reported in Question 18 who transferred internally
   from another degree program at your institution.

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 21. Number of new majors reported in Question 18 who
####     transferred externally from another institution.

## search flags
searchFlags_prev = (semester_sp21)
searchFlags_curr = (semester_fl21) & (major_othercomp) & (admission_transfer)

## true/false dataframe: shows which students in the current term
##   were not registered for the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '21. Number of new majors reported in Question 18 who'
  '\n    transferred externally from another institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of new majors reported in Question 18 who
    transferred externally from another institution.

Series([], Name: eid, dtype: int64)

Total: 0

## SP-22

In [ ]:
#### Number of Other Computing and Computer Science majors

searchFlags_compsc = (semester_sp22) & (major_compsc)
count_gender_compsc = df.loc[searchFlags_compsc].groupby('gender')['eid'].nunique()
count_total_compsc = df.loc[searchFlags_compsc]['eid'].nunique()

searchFlags_other = (semester_sp22) & (major_othercomp)
count_gender_other = df.loc[searchFlags_other].groupby('gender')['eid'].nunique()
count_total_other = df.loc[searchFlags_other]['eid'].nunique()

print(
  '----Spring 2022----\n\n'
  '--Computer Science majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'  '\n\n\n'
  '--Other Computing majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'.format(
      count_gender_compsc, count_total_compsc,
      count_gender_other, count_total_other
      )
)

----Spring 2022----

--Computer Science majors enrolled

gender
F     77
M    306
T      2
Name: eid, dtype: int64

Total: 385


--Other Computing majors enrolled

gender
F    18
M    41
Name: eid, dtype: int64

Total: 59

In [ ]:
#### 2. Number of declared Computer Science majors enrolled at
####    your institution in the previous term

## number of records that meet search criteria
searchFlags = (semester_fl21) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '2. Number of declared Computer Science majors enrolled at'
  '\n   your institution in the previous term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

2. Number of declared Computer Science majors enrolled at
   your institution in the previous term

gender
F     79
M    328
T      2
Name: eid, dtype: int64

Total: 409

In [ ]:
#### 4. Number of students reported in Question 2 who were still enrolled
####    as Computer Science majors in the current term

## search flags
searchFlags_prev = (semester_fl21) & (major_compsc)
searchFlags_curr = (semester_sp22) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '4. Number of students reported in Question 2 who were still enrolled'
  '\n   as Computer Science majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

4. Number of students reported in Question 2 who were still enrolled
   as Computer Science majors in the current term

gender
F     42
M    177
T      2
Name: eid, dtype: int64

Total: 221

In [ ]:
#### 5. Number of students reported in Question 2 who were enrolled in
####    an Other Computing major in the current term

## search flags
searchFlags_prev = (semester_fl21) & (major_compsc)
searchFlags_curr = (semester_sp22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '5. Number of students reported in Question 2 who were enrolled in'
  '\n   an Other Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

5. Number of students reported in Question 2 who were enrolled in
   an Other Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 6. Number of students reported in Question 2 who were enrolled in
####    any Non-Computing major in the current term

## search flags
searchFlags_prev = (semester_fl21) & (major_compsc)
searchFlags_curr = (semester_sp22) & (major_noncomp)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '6. Number of students reported in Question 2 who were enrolled in'
  '\n   any Non-Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

6. Number of students reported in Question 2 who were enrolled in
   any Non-Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 8. Total number of new Computer Science majors this academic term

## search flags
searchFlags_prev = (semester_fl21) & (major_compsc)
searchFlags_curr = (semester_sp22) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   were not CS majors in the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '8. Total number of new Computer Science majors this academic term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

8. Total number of new Computer Science majors this academic term

gender
F     35
M    129
Name: eid, dtype: int64

Total: 164

In [ ]:
#### 9. Number of new majors reported in Question 8 who were not transfer
####    students (internal or external) and declared a major for the first time

## search flags
searchFlags_prev = (semester_fl21) & (major_undecl)
searchFlags_curr = (semester_sp22) & (major_compsc) & (admission_notTransfer)

## true/false dataframe: shows which students in the current term
##   were undeclared in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '9. Number of new majors reported in Question 8 who were not transfer'
  '\n   students (internal or external) and declared a major for the first time'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

9. Number of new majors reported in Question 8 who were not transfer
   students (internal or external) and declared a major for the first time

gender
F    1
Name: eid, dtype: int64

Total: 1

In [ ]:
#### 10. Number of new majors reported in Question 8 who transferred internally
####     from another degree program at your institution.

## search flags
searchFlags_prev = (semester_fl21) & (major_othercomp) & (major_noncomp)
searchFlags_curr = (semester_sp22) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   changed major from one that was held in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '10. Number of new majors reported in Question 8 who transferred internally'
  '\n   from another degree program at your institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of new majors reported in Question 8 who transferred internally
   from another degree program at your institution.

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 11. Number of new majors reported in Question 8 who
####     transferred externally from another institution.

## search flags
searchFlags_prev = (semester_fl21)
searchFlags_curr = (semester_sp22) & (major_compsc) & (admission_transfer)

## true/false dataframe: shows which students in the current term
##   were not registered for the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '11. Number of new majors reported in Question 8 who'
  '\n    transferred externally from another institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

11. Number of new majors reported in Question 8 who
    transferred externally from another institution.

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 12. Number of Other Computing majors enrolled
####     at your institution in the previous term 

## search flags
searchFlags = (semester_fl21) & (major_othercomp)

## number of records that meet search criteria
count_gender = df[searchFlags].groupby('gender')['eid'].nunique()
count_total = df[searchFlags]['eid'].nunique()

print(
  '12. Number of Other Computing majors enrolled'
  '\n   at your institution in the previous term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of Other Computing majors enrolled
   at your institution in the previous term

gender
F    26
M    51
Name: eid, dtype: int64

Total: 77

In [ ]:
#### 14. Number of students reported in Question 12 who were
####     still enrolled in Other Computing majors in the current term

## search flags
searchFlags_prev = (semester_fl21) & (major_othercomp)
searchFlags_curr = (semester_sp22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   had the same major in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '14. Number of students reported in Question 12 who were'
  '\n   still enrolled in Other Computing majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of students reported in Question 12 who were
   still enrolled in Other Computing majors in the current term

gender
F     9
M    20
Name: eid, dtype: int64

Total: 29

In [ ]:
#### 15. Number of students reported in Question 12
####     who were enrolled as Computer Science majors in the current term

## search flags
searchFlags_prev = (semester_fl21) & (major_othercomp)
searchFlags_curr = (semester_sp22) & (major_compsc)

## true/false dataframe: shows which [COMPSC-BS] students in the current term
##   are from the set of students reported in question 12
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '15. Number of students reported in Question 12'
  '\n   who were enrolled as Computer Science majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of students reported in Question 12
   who were enrolled as Computer Science majors in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 16. Number of students reported in Question 12
####     who were enrolled in any Non-Computing major in the current term

## search flags
searchFlags_prev = (semester_fl21) & (major_othercomp)
searchFlags_curr = (semester_sp22) & (major_noncomp)

## true/false dataframe: shows which non-computing students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '16. Number of students reported in Question 12'
  '\n   who were enrolled in any Non-Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of students reported in Question 12
   who were enrolled in any Non-Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 18. Total number of new Other Computing majors this term

## search flags
searchFlags_prev = (semester_fl21) & (major_othercomp)
searchFlags_curr = (semester_sp22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   were not other computing majors in the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '18. Total number of new Other Computing majors this term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Total number of new Other Computing majors this term

gender
F     9
M    21
Name: eid, dtype: int64

Total: 30

In [ ]:
#### 19. Number of new majors reported in Question 18 who were not transfer
####    students (internal or external) and declared a major for the first time

## search flags
searchFlags_prev = (semester_fl21) & (major_undecl)
searchFlags_curr = (semester_sp22) & (major_othercomp) & (admission_notTransfer)

## true/false dataframe: shows which students in the current term
##   were undeclared in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '19. Number of new majors reported in Question 18 who were not transfer'
  '\n   students (internal or external) and declared a major for the first time'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of new majors reported in Question 18 who were not transfer
   students (internal or external) and declared a major for the first time

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 20. Number of new majors reported in Question 18 who transferred internally
####     from another unit or degree program at your institution.

## search flags
searchFlags_prev = (semester_fl21) & (major_compsc) & (major_noncomp)
searchFlags_curr = (semester_sp22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   changed major from one that was held in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '20. Number of new majors reported in Question 18 who transferred internally'
  '\n   from another degree program at your institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of new majors reported in Question 18 who transferred internally
   from another degree program at your institution.

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 21. Number of new majors reported in Question 18 who
####     transferred externally from another institution.

## search flags
searchFlags_prev = (semester_fl21)
searchFlags_curr = (semester_sp22) & (major_othercomp) & (admission_transfer)

## true/false dataframe: shows which students in the current term
##   were not registered for the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '21. Number of new majors reported in Question 18 who'
  '\n    transferred externally from another institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of new majors reported in Question 18 who
    transferred externally from another institution.

Series([], Name: eid, dtype: int64)

Total: 0

## FL-22

In [ ]:
#### Number of Other Computing and Computer Science majors

searchFlags_compsc = (semester_fl22) & (major_compsc)
count_gender_compsc = df.loc[searchFlags_compsc].groupby('gender')['eid'].nunique()
count_total_compsc = df.loc[searchFlags_compsc]['eid'].nunique()

searchFlags_other = (semester_fl22) & (major_othercomp)
count_gender_other = df.loc[searchFlags_other].groupby('gender')['eid'].nunique()
count_total_other = df.loc[searchFlags_other]['eid'].nunique()

print(
  '----Fall 2022----\n\n'
  '--Computer Science majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'  '\n\n\n'
  '--Other Computing majors enrolled'
  '\n\n{}'  '\n\n'  'Total: {}'.format(
      count_gender_compsc, count_total_compsc,
      count_gender_other, count_total_other
      )
)

----Fall 2022----

--Computer Science majors enrolled

gender
F     85
M    305
T      1
Name: eid, dtype: int64

Total: 391


--Other Computing majors enrolled

gender
F    18
M    28
U     1
Name: eid, dtype: int64

Total: 47

In [ ]:
#### 2. Number of declared Computer Science majors enrolled at
####    your institution in the previous term

## number of records that meet search criteria
searchFlags = (semester_sp22) & (major_compsc)
count_gender = df.loc[searchFlags].groupby('gender')['eid'].nunique()
count_total = df.loc[searchFlags]['eid'].nunique()

print(
  '2. Number of declared Computer Science majors enrolled at'
  '\n   your institution in the previous term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

2. Number of declared Computer Science majors enrolled at
   your institution in the previous term

gender
F     77
M    306
T      2
Name: eid, dtype: int64

Total: 385

In [ ]:
#### 4. Number of students reported in Question 2 who were still enrolled
####    as Computer Science majors in the current term

## search flags
searchFlags_prev = (semester_sp22) & (major_compsc)
searchFlags_curr = (semester_fl22) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '4. Number of students reported in Question 2 who were still enrolled'
  '\n   as Computer Science majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

4. Number of students reported in Question 2 who were still enrolled
   as Computer Science majors in the current term

gender
F     35
M    137
T      1
Name: eid, dtype: int64

Total: 173

In [ ]:
#### 5. Number of students reported in Question 2 who were enrolled in
####    an Other Computing major in the current term

## search flags
searchFlags_prev = (semester_sp22) & (major_compsc)
searchFlags_curr = (semester_fl22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '5. Number of students reported in Question 2 who were enrolled in'
  '\n   an Other Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

5. Number of students reported in Question 2 who were enrolled in
   an Other Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 6. Number of students reported in Question 2 who were enrolled in
####    any Non-Computing major in the current term

## search flags
searchFlags_prev = (semester_sp22) & (major_compsc)
searchFlags_curr = (semester_fl22) & (major_noncomp)

## true/false dataframe: shows which students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '6. Number of students reported in Question 2 who were enrolled in'
  '\n   any Non-Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

6. Number of students reported in Question 2 who were enrolled in
   any Non-Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 8. Total number of new Computer Science majors this academic term

## search flags
searchFlags_prev = (semester_sp22) & (major_compsc)
searchFlags_curr = (semester_fl22) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   were not CS majors in the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '8. Total number of new Computer Science majors this academic term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

8. Total number of new Computer Science majors this academic term

gender
F     50
M    168
Name: eid, dtype: int64

Total: 218

In [ ]:
#### 9. Number of new majors reported in Question 8 who were not transfer
####    students (internal or external) and declared a major for the first time

## search flags
searchFlags_prev = (semester_sp22) & (major_undecl)
searchFlags_curr = (semester_fl22) & (major_compsc) & (admission_notTransfer)

## true/false dataframe: shows which students in the current term
##   were undeclared in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '9. Number of new majors reported in Question 8 who were not transfer'
  '\n   students (internal or external) and declared a major for the first time'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

9. Number of new majors reported in Question 8 who were not transfer
   students (internal or external) and declared a major for the first time

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 10. Number of new majors reported in Question 8 who transferred internally
####     from another degree program at your institution.

## search flags
searchFlags_prev = (semester_sp22) & (major_othercomp) & (major_noncomp)
searchFlags_curr = (semester_fl22) & (major_compsc)

## true/false dataframe: shows which students in the current term
##   changed major from one that was held in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '10. Number of new majors reported in Question 8 who transferred internally'
  '\n   from another degree program at your institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

10. Number of new majors reported in Question 8 who transferred internally
   from another degree program at your institution.

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 11. Number of new majors reported in Question 8 who
####     transferred externally from another institution.

## search flags
searchFlags_prev = (semester_sp22)
searchFlags_curr = (semester_fl22) & (major_compsc) & (admission_transfer)

## true/false dataframe: shows which students in the current term
##   were not registered for the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '11. Number of new majors reported in Question 8 who'
  '\n    transferred externally from another institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

11. Number of new majors reported in Question 8 who
    transferred externally from another institution.

gender
F    1
M    2
Name: eid, dtype: int64

Total: 3

In [ ]:
#### 12. Number of Other Computing majors enrolled
####     at your institution in the previous term 

## search flags
searchFlags = (semester_sp22) & (major_othercomp)

## number of records that meet search criteria
count_gender = df[searchFlags].groupby('gender')['eid'].nunique()
count_total = df[searchFlags]['eid'].nunique()

print(
  '12. Number of Other Computing majors enrolled'
  '\n   at your institution in the previous term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

12. Number of Other Computing majors enrolled
   at your institution in the previous term

gender
F    18
M    41
Name: eid, dtype: int64

Total: 59

In [ ]:
#### 14. Number of students reported in Question 12 who were
####     still enrolled in Other Computing majors in the current term

## search flags
searchFlags_prev = (semester_sp22) & (major_othercomp)
searchFlags_curr = (semester_fl22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   had the same major in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '14. Number of students reported in Question 12 who were'
  '\n   still enrolled in Other Computing majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

14. Number of students reported in Question 12 who were
   still enrolled in Other Computing majors in the current term

gender
F     8
M    10
Name: eid, dtype: int64

Total: 18

In [ ]:
#### 15. Number of students reported in Question 12
####     who were enrolled as Computer Science majors in the current term

## search flags
searchFlags_prev = (semester_sp22) & (major_othercomp)
searchFlags_curr = (semester_fl22) & (major_compsc)

## true/false dataframe: shows which [COMPSC-BS] students in the current term
##   are from the set of students reported in question 12
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '15. Number of students reported in Question 12'
  '\n   who were enrolled as Computer Science majors in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

15. Number of students reported in Question 12
   who were enrolled as Computer Science majors in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 16. Number of students reported in Question 12
####     who were enrolled in any Non-Computing major in the current term

## search flags
searchFlags_prev = (semester_sp22) & (major_othercomp)
searchFlags_curr = (semester_fl22) & (major_noncomp)

## true/false dataframe: shows which non-computing students in the current term
##   are from the set of students reported in question 2
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '16. Number of students reported in Question 12'
  '\n   who were enrolled in any Non-Computing major in the current term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

16. Number of students reported in Question 12
   who were enrolled in any Non-Computing major in the current term

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 18. Total number of new Other Computing majors this term

## search flags
searchFlags_prev = (semester_sp22) & (major_othercomp)
searchFlags_curr = (semester_fl22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   were not other computing majors in the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '18. Total number of new Other Computing majors this term'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

18. Total number of new Other Computing majors this term

gender
F    10
M    18
U     1
Name: eid, dtype: int64

Total: 29

In [ ]:
#### 19. Number of new majors reported in Question 18 who were not transfer
####    students (internal or external) and declared a major for the first time

## search flags
searchFlags_prev = (semester_sp22) & (major_undecl)
searchFlags_curr = (semester_fl22) & (major_othercomp) & (admission_notTransfer)

## true/false dataframe: shows which students in the current term
##   were undeclared in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '19. Number of new majors reported in Question 18 who were not transfer'
  '\n   students (internal or external) and declared a major for the first time'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

19. Number of new majors reported in Question 18 who were not transfer
   students (internal or external) and declared a major for the first time

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 20. Number of new majors reported in Question 18 who transferred internally
####     from another unit or degree program at your institution.

## search flags
searchFlags_prev = (semester_sp22) & (major_compsc) & (major_noncomp)
searchFlags_curr = (semester_fl22) & (major_othercomp)

## true/false dataframe: shows which students in the current term
##   changed major from one that was held in the previous term
bools = df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '20. Number of new majors reported in Question 18 who transferred internally'
  '\n   from another degree program at your institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

20. Number of new majors reported in Question 18 who transferred internally
   from another degree program at your institution.

Series([], Name: eid, dtype: int64)

Total: 0

In [ ]:
#### 21. Number of new majors reported in Question 18 who
####     transferred externally from another institution.

## search flags
searchFlags_prev = (semester_sp22)
searchFlags_curr = (semester_fl22) & (major_othercomp) & (admission_transfer)

## true/false dataframe: shows which students in the current term
##   were not registered for the previous term
bools = ~df[searchFlags_curr]['eid'].isin(df.loc[searchFlags_prev]['eid'])

## number of records that meet search criteria
count_gender = df[searchFlags_curr][bools.values].groupby('gender')['eid'].nunique()
count_total = df[searchFlags_curr][bools.values]['eid'].nunique()

print(
  '21. Number of new majors reported in Question 18 who'
  '\n    transferred externally from another institution.'
  '\n\n{}'
  '\n\nTotal: {}'.format(count_gender, count_total)
)

21. Number of new majors reported in Question 18 who
    transferred externally from another institution.

gender
M    1
Name: eid, dtype: int64

Total: 1